<template name="Sign_Up">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="head-snippet text-center" style="color:">Sign up for savings</h2>
			<div class="row">
				<div class="col-sm-4">
					<!-- Image -->
					<img alt="Alt Image" class="img-responsive img-thumbnail" src="http://lacet.io/shoelace/rest/shoelace/image/image/148"></div>
				<div class="col-sm-8">
					<div class="tabbable selectable">
						<ul class="nav nav-tabs" role="tablist">
							<li>
								<a class="active" data-target="#snippet_78" data-toggle="tab">General Information</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active sortable" id="snippet_78" role="tabpanel">
								<!-- Text Input-->
								<div class="form-group">
									<label class="control-label" for="">Name</label>
									<input class="form-control input-sm" type="text">
								</div>
								<!-- Text Input-->
								<div class="form-group">
									<label class="control-label" for="">Address</label>
									<input class="form-control input-sm" type="text">
								</div>
								<!-- Text Input-->
								<div class="form-group">
									<label class="control-label" for="">City</label>
									<input class="form-control input-sm" type="text">
								</div>
								<!-- Text Input-->
								<div class="form-group">
									<label class="control-label" for="">State</label>
									<input class="form-control input-sm" type="text">
								</div>
								<!-- Text Input-->
								<div class="form-group">
									<label class="control-label" for="">Zipcode</label>
									<input class="form-control input-sm" type="text">
								</div>
								<!-- Text Input-->
								<div class="form-group">
									<label class="control-label" for="">Phone</label>
									<input class="form-control input-sm" type="text">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>